body{
    background-color: grey;
}

p{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#infodiv{
    margin-top: 3vw;
    margin-left: 38vw;
    background-color: white;
    border: 10px solid red;
    height: 55vh;
    width: 50vw;
    border-radius: 20px;
    display: flex;
    gap: 4vw;
    margin-left: 25vw;
}


#statdiv{
    margin-left: 20px;
}

#namediv{
    background-color: red;
    border-radius: 8px;
    position: relative;
}

#typediv{
    background-color: orange;
    border-radius: 8px;
    position: relative;
}

#hpdiv{
    background-color: green;
    border-radius: 8px;
}

#attackdiv{
    background-color: blue;
    border-radius: 8px;
}

#abilitiesdiv{
    background-color: blueviolet;
    border-radius: 8px;
}

img{
    height: 400px;
    width: 400px;
    padding-right: 20px;
}