.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#pokemon-input{
  border-radius: 7px;
  height: 4vh;
  width: 24vw;
  font-size: 40px;
}

